*{margin: 0;padding: 0;box-sizing: border-box}
/* 如果您之前已经注册过账号， 请点这里登录 */
.close{
    width: 100%;
    padding: 30px 50px;
    }
.close-f{
    width:100%;height: 51px;
    border: 1px solid #bbbbbb;
    display: flex;
    padding: 14px 14px;
}
.close-f::before{
    content: "* 如果您之前已经注册过账号，";
    font-size: 16px;
}
.close .close-f a{
    text-decoration: none;
    color:#494949;
    font-size: 16px;
}
/* 账单地址和订单详情 */
.close .close-s{
    display: flex;
    padding: 27px 0;
}
/* 账单地址 */
.close .close-s .site{
    width: 55%;
    display: flex;
    flex-direction: column;
}
/* 标题 */
.close .close-s .site h3{
    width: 100%;height: 31px;
    font:24px 微软雅黑,Helvetica,Arial,Verdana,sans-serif;
    color: black;
    font-weight: bold;
}
/* label和input的公共属性 */
.close .close-s .site label{
    width: 100%;height: 28px;
    font: 14px 微软雅黑,Helvetica,Arial,Verdana;
    color: #494949;
    line-height: 28px;
    font-weight: bold;
    margin-top: 14px;
}
.close .close-s .site input{
    width: 100%;height: 37px;
    padding: 5px;
}
/* 国家地区选项 */
.close .close-s .site span{
    width: 100%;height: 37px;
    display: flex;
}
.close .close-s .site span select{
    width:50%;height: 37px;
}
/* 选中显示的功能 */
.close .close-s .site span .hide{
    width: 50%;height: 37px;
    display: none;
}
/* 姓名 */
.close .close-s .site p{
  width: 100%;  height: 75px;
  display: flex;
  justify-content: space-between;
}
.close .close-s .site p span:first-child{
    width: 48%;height: 75px;
    display: flex;
    flex-direction: column;
}
.close .close-s .site p span:last-child{
    width: 45%;height: 75px;
    display: flex;
    flex-direction: column;
}
/* 姓名输入框 */
.close .close-s .site p span input{
    height:43px;
    padding: 5px;
}
/* 房间号 */
.close .close-s .site input:nth-child(9){
    margin-top:15px;
}
/* 快速注册帐号文本 */
.close .close-s .site span{
    width: 100%;height:50px;
    font: 14px 微软雅黑;
    color:#777777;
    line-height: 50px;
}
/* 邮寄到另一个地址 */
.close .close-s .site .billing_different-address{
    display: flex;
    margin-top:18px;
}
.close .close-s .site .billing_different-address label{
    margin-top: 6px;
    line-height:0;
    height:19px;
    width: auto;

}
.close .close-s .site .billing_different-address  input{
    height: auto;
    width: auto;
}
/* 右边的订单详情 */
.close .details{
    width: 45%;height: 526px;
    padding: 30px;
    color: #494949;
}
.close .details .order-review{
    width: 100%;height: 526px;
    color: #494949;
    border: 5px solid #494949;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.close .details .order-review h3{
    width: 100%;height: 29px;
    font: 22px 微软雅黑;
    font-weight: bold; 
    color: #000;
}
.close .details .order-review p{
    width: 100%;height: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    border-bottom: 1px solid #777777;
    margin-top:13px;
}
.close .details .order-review p span{
    font-weight: bold;
    font: 16px 微软雅黑;border-bottom: 0;
}
.close .details .order-review p:nth-child(3){
    width: 100%;height: 56px;
}
.close .details .order-review p:nth-child(3) span:first-child{
    width: 100%;height: 56px;
    display: flex;
}
.close .details .order-review p:nth-child(3) span:first-child img{
    width: 40px;height: 40px;
    line-height: 56px;
}
.close .details .order-review p:nth-child(3) span:first-child span a{
    text-decoration: none;
    color: #494949;
    line-height: 56px;
}
.close .details .order-review p:nth-child(3) span:first-child span{
    line-height: 56px;
}
.close .details .order-review p:nth-child(3) span:last-child{
    line-height: 56px;
}