*{margin:0;padding:0}
.title{
    width:100%;height:44px;
    padding:0 40px;
    background:#e0e0e0;

}
.wellcome{
    width:50%;height:44px;
    float:left;
}
.yonhu{
    width:50%;height:44px;
    float:left;
    padding:7px 0;
    box-sizing:border-box;

}
.wellcome span{
    display:inline-block;
    width:138px;height:40px;
    font:12px  Helvetica;
    text-align:center;
    line-height:40px;
    margin:0 17px;
	color:#757575;;
}
.yonhu a{
    text-decoration:none;
    display:inline-block;
}
.yonhu1{
    width:5%;height:26px;
    margin-left:60%;
    background:url("../images/tb.png");
    background-position:-14px 1px;
}
.yonhu2{
    margin-left:30px;
    width:5%;height:26px;
    background:url("../images/tb.png");
    background-position:-63px 1px;
}
.yonhu3{
    margin-left:30px;
    width:5%;height:26px;
    background:url("../images/tb.png");
    background-position:-110px 1px;
}
.login{
    box-sizing:border-box;
    width:100%;height:129px;
    background:url("../images/titlebj.png");
    padding:18px 0;
    text-align:center;
}
.daohang{
    width:100%;height:47px;
    background:url("../images/titlebj.png");
    display:inline-block;
}
.daohang ul{
    display:inline-block;
    width:50%;height:47px;
    margin:0 25%;
    list-style:none;
}
.daohang ul li{
    width:20%;height:47px;
    float:left;
    box-sizing:border-box;
    text-align:center;
}
ul li a{
    text-decoration:none;
    color:#707070;
	line-height:47px;
}
/*轮播图*/
.lunbo {
	display: inline-block;
	margin:-4px;
}
.lunbo img{
	width:100%;height:464px;
    box-sizing:border-box;

}
/*推荐品*/
.tuijian{
	width:100%;height:330px;
	box-sizing:border-box;
	margin:20px 0;
	padding:0 10%;
}
.tuijian img{
	width:47%;height:330Px;
	border:1px solid #dddddd;
	padding:6px;
	box-sizing:border-box;
	float:left;
	margin:0 7px;
}
/* 今日上新 */
.xingheader{
	width:100%;height:102px;
	box-sizing:border-box;
	padding-top:5%;
}
.xingheader .xiaoheader{
	width:79%;height:42px;
	box-sizing:border-box;
	border-bottom:1px solid #e0e0e0;
	margin:0 auto;
}
.xingheader .xiaoheader .neirong{
	font:20px ΢ Raleway;
	box-sizing:border-box;
	display:inline-block;
    margin-top:16px;
}
.xingheader .xiaoheader .neirong1{
	font:15px Raleway;
	margin:0 3px;
	margin-top:16px;
	color:#bababa;
	box-sizing:border-box;
	display:inline-block;
}
.xingheader .xiaoheader a{
	float:right;
    color:#bababa;
	border:1px solid #bababa;
	font:15px Raleway;
	width:92px;height:28px;
	padding:4px;
	text-decoration:none;
	box-sizing:border-box;
	margin-top:9px;
}
/*焦点触发*/
.xingheader .xiaoheader a:hover{
	background:#000;
}
.xingshanpingBOX{
	width:100%;height:387px;
	box-sizing:border-box;
	display:flex;
    justify-content:center;
	flex-wrap:wrap;
}
.xingshanpingBOX div{
	width:20%;height:317px;
	box-sizing:border-box;
	border:1px solid #bababa;
	margin:38px 5px;
	transition:0.4s;
}
}
.xingshanpingBOX div img,.xingshanpingBOX div span{
	display:block;
	margin:1px auto;
	box-sizing:border-box;
}
.xingshanpingBOX div img{
	width:100%;height:194px;
	display:block;
	margin:12px 0;
}
.xingshanpingBOX div span{
	width:100%;height:21px;
	display:block;
	margin:12px 0;
	text-align:center;
	color:#999999;
}
/* 焦点触发 */
.xingshanpingBOX div:hover{
	transform:translateY(-10px) scale(1);
	box-shadow:0 0 20px #bababa;
}
/* 限时促销 */
.xianshibox{
	width:100%;height:600px;
	display: flex;
	justify-content: center;
}
.xianshibox1{
	width:39%;height:455px;
	box-sizing: border-box;
	margin:50px 5px;
}
.xianshibox2{
	width:39%;height:455px;
	box-sizing: border-box;
	margin:50px 5px;
}
.xianshibox .xianshibox1 img,.xianshibox .xianshibox2 img{
	width:100%;height:370px;
	box-sizing: border-box;
}

.xianshibox .xianshibox1 div,.xianshibox .xianshibox2 div{
	width:100%;height:87px;
	box-sizing: border-box;
	background: #f7f7f7;
	border: 1px solid #dddddd;
}
.midtu{
	box-sizing:border-box;
	width:100%;height:393px;
	margin:15px 0;
}
.midtu .midtu1,.midtu .midtu2{
	width:50%;height:393px;
	box-sizing: border-box;
	float:left;
	background:url(../images/beijin.png)
}
.midtu .midtu1 img{
	width:100%;height:393px;
	box-sizing: border-box;
}
.midtu .midtu2 p{
	width:60%; height:50%;
	box-sizing: border-box;
	margin:0 auto;
	background:url(../images/beijin.png);
	font:14px 微软雅黑  Raleway;
	color:#808080;
	line-height: 2rem;
}
.midtu .midtu2 p img{
	margin:10% 37%;
}
/*家园装点*/
.jiayuan{
	width:100%;height:580px;
	box-sizing: border-box;
	margin:50px 0;
	display: flex;
	justify-content:center;
	flex-wrap:wrap;
}
.jiayuan .jiayuanbox{
	box-sizing: border-box;
	width:20%;height:580px;
	transition: 0.4s;
}
.jiayuan .jiayuanbox a img{
	box-sizing: border-box;
	width:100%;
	height:290px;
}
.jiayuan .jiayuanbox ul{
	list-style:none;
	width:100%;height:290px ;
	padding:111px 0;
	box-sizing:border-box;
}
.jiayuan .jiayuanbox ul li{
	margin:10px  auto;
	text-align: center;
	box-sizing: border-box;
	color: #bababa;
}
/*家园装点焦点样式*/
.jiayuan .jiayuanbox:hover{
	transform:translate(10px,2px);
	border: 1px solid #808080;
	box-shadow:-3px 3px 30px #bababa;
}
/*花语门店的活动及概要样式*/
.hua_bot_list{
	width:80%;height:462px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin:0 auto;
}
/*左侧样式*/
.hua_bot_list .hua_bot_list_left{
	width:58%;height:462px;
	box-sizing: border-box;
}
/*上部分样式*/
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top{
	width:100%;height:211px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid #bababa;
	align-items:center;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top img{
	width:40%;height:200px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div{
	width:60%;height:200px;
	box-sizing: border-box;
	color:#bababa;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div h6{
	font:16px 微软雅黑;
	color:#000000;
	margin:8px 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div span{
	margin:0 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div p{
	margin:10px 21px;
}


/*下部分样式*/
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot{
	width:100%;height:211px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid #bababa;
	align-items:center;
	margin:12px 0;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot img{
	width:40%;height:200px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div{
	width:60%;height:200px;
	box-sizing: border-box;
	color:#bababa;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div h6{
	font:16px 微软雅黑;
	color:#000000;
	margin:8px 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div span{
	margin:0 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div p{
	margin:10px 21px;
}
/*右侧样式*/
.hua_bot_list .hua_bot_list_right{
	width:38%;height:462px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_right img{
	width:100%;height:434px;
	margin-left:15px;
}
/*运输 、礼品、 服务、 优惠券相关样式*/
.index_yun_li_fu_you{
	width:100%;height:140px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box{
	width:15%;height:80px;
	box-sizing: border-box;
	display: flex;
	margin:0 33px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div{
   display: inline-block;
	width:60%;height:80px;
	padding:15px 0;
	box-sizing: border-box;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box img{
	display: inline-block;
	width:40%;height:80px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div h4{
	font:13px 微软雅黑;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div p{
	font:12px 微软雅黑;
	color:#bababa;
}

