*{margin:0;padding:0}
/* 全局 */
#box{
	width:1260px;
	margin:-4px auto;
	box-sizing: border-box;
}
/*轮播图*/
.lunbo {
	width: 1260px;;height:413px;
	display: inline-block;
	overflow:hidden;
	position:relative;
	opacity:0.8;
}
.lunbo ul:nth-child(2){
	list-style: none;
	display: inline-block;
	width:3780px;height:464px;
	margin-left:0px;
	display:flex;
}
/* 过度时间 */
.lunbo .transition{
	transition:all .5s linear;
 }
 /* 轮播图每张图片 */
.lunbo ul li,.lunbo ul li img{
	width:1260px;height:464px;
	display: inline-block;
}
/* 小圆点列表 */
.lunbo ul:nth-child(3){
	width:40px;
      margin:0 auto;
      list-style:none;
      position:absolute;
      bottom:25px;
      left:50%;
      margin-left:-20px;
}
/* 每个小圆点 */
.lunbo ul:nth-child(3) li{
	float:left;
      width:10px; height:10px;
      background-color:#fff;
      border-radius:5px;
      margin:0 5px;
      cursor:pointer;
}
.lunbo ul:nth-child(3) .active{
	background-color:#dddddd;
  }
  /* 左右点击按钮 */
  #btnLeft,#btnRight{
	width:60px;
	height:100%;
	position:absolute;
	top:0;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
  }
/* 左按钮 */
  #btnLeft{
	left:20px;
	background-image:url("../images/left_ar.png");
  }
  /* 右按钮 */
  #btnRight{
	right:20px;
	background-image:url("../images/right_ar.png");
  }
  /* 轮播图中间的文字 */
  #box .lunbo span:nth-child(4){
	  width: 270px;height: 56px;
	  position: absolute;
	  left: 50%;top:50%;
	  margin-left: -135px;
	  margin-top: -28px;
	  font:56px 微软雅黑;
	  color: #fff;
	  transition: 1s;

  }
  #box .lunbo span:nth-child(4).hidden{
	  opacity: 0;
  }
  /* 鼠标悬停效果 */
  #btnLeft:hover,#btnRight:hover{
	background-size:40px 70px
  }

/* 滚动条到达指定位置执行的动画  */
#box .lunbo .fixed{
	animation:zoomInLeft 2s;
}
/*推荐品*/
.tuijian{
	width:100%;height:330px;
	box-sizing:border-box;
	margin:20px 0;
	padding:0 10%;
	display: flex;
	justify-content: center;
}
.tuijian img{
	width:48%;height:330Px;
	border:1px solid #dddddd;
	padding:6px;
	box-sizing:border-box;
	margin:0 7px;
}
/* 滚动条到达指定位置执行的动画  */
.tuijian .fixed:first-child{
	animation:bounceInRight 2s;
}
.tuijian .fixed:last-child{
	animation:bounceInLeft 2s;
}
/* 今日上新 */
.xingheader{
	width:100%;height:102px;
	box-sizing:border-box;
	padding-top:5%;
}
.xingheader .xiaoheader{
	width:78%;height:42px;
	box-sizing:border-box;
	border-bottom:1px solid #e0e0e0;
	margin:0 auto;
}
.xingheader .xiaoheader .neirong{
	font:20px ΢ Raleway;
	box-sizing:border-box;
	display:inline-block;
    margin-top:16px;
}
.xingheader .xiaoheader .neirong1{
	font:15px Raleway;
	margin:0 3px;
	margin-top:16px;
	color:#bababa;
	box-sizing:border-box;
	display:inline-block;
}
.xingheader .xiaoheader a{
	float:right;
    color:#bababa;
	border:1px solid #bababa;
	font:15px Raleway;
	width:92px;height:28px;
	padding:4px;
	text-decoration:none;
	box-sizing:border-box;
	margin-top:9px;
}
/*焦点触发*/
.xingheader .xiaoheader a:hover{
	background:#000;
}
/* 今日上新商品 */
.xingshanpingBOX{
	width:100%;height:387px;
	box-sizing:border-box;
	display:flex;
    justify-content:center;
	flex-wrap:wrap;
}
/* 每个新商品 */
.xingshanpingBOX div{
	width:19%;height:317px;
	box-sizing:border-box;
	border:1px solid #bababa;
	margin:38px 5px;
	transition:0.4s;
	display:flex;
	flex-direction: column;
	overflow: hidden;
}
/* 新商品的图片*/
.xingshanpingBOX div span:first-child{
	width:100%;height:194px;
	display:block;
	margin:12px 0;
	overflow: hidden;
}
.xingshanpingBOX div span img{
	width:100%;height:194px;
	transition:1s;
}
/* 新商品的文本*/
.xingshanpingBOX div span:nth-child(2),.xingshanpingBOX div span:last-child{
	width:100%;height:21px;
	display:block;
	margin:12px 0;
	text-align:center;
	color:#999999;
}
/* 滚动条到达指定位置执行的动画  */
.xingshanpingBOX .fixed:first-child{animation:fadeInUp 2s;}
.xingshanpingBOX .fixed:nth-child(2){animation:fadeInUp 3s;}
.xingshanpingBOX .fixed:nth-child(3){animation:fadeInUp 4s;}
.xingshanpingBOX .fixed:last-child{animation:fadeInUp 5s;}

/* 焦点触发 */
.xingshanpingBOX div:hover{
	transform:translateY(-10px) scale(1);
	box-shadow:0 0 20px #bababa;	
}
.xingshanpingBOX div:hover img{
	transform:scale(1.3);
}
.xingshanpingBOX div:hover span{
	color:#000;
}
/* 限时促销总体 */
.xianshibox{
	width:100%;height:600px;
	display: flex;
	justify-content: center;
}
/* 左边的限时商品 */
.xianshibox1{
	width:39%;height:455px;
	box-sizing: border-box;
	margin:50px 5px;
}
/* 右边的限时商品 */
.xianshibox2{
	width:39%;height:455px;
	box-sizing: border-box;
	margin:50px 5px;
}
/* 左右两边的限时商品图片  */
.xianshibox .xianshibox1 img,.xianshibox .xianshibox2 img{
	width:100%;height:370px;
	box-sizing: border-box;
}
/* 左右两边的限时商品时间*/
.xianshibox .xianshibox1 div,.xianshibox .xianshibox2 div{
	width:100%;height:87px;
	box-sizing: border-box;
	background: #f7f7f7;
	border: 1px solid #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
}
.xianshibox .xianshibox2 div{
	margin-top:-4px;
}
/* 左右两边的限时商品时间文本*/
.xianshibox .xianshibox1 div p,.xianshibox .xianshibox2 div p{
	width: 80%;height: 70px;
	text-align:center;
	line-height: 70px;	
}
.xianshibox .xianshibox1 div p span,.xianshibox .xianshibox2 div p span{
	font:48px 微软雅黑;
	color:#000000;
}
/* 滚动条到达指定位置执行的动画  */
.xianshibox #fixed:first-child{animation:fadeInRight 2s;}
.xianshibox #fixed:last-child{animation:fadeInLeft 2s;}

/* 花语的概括介绍 */
.midtu{
	box-sizing:border-box;
	width:100%;height:393px;
	margin:15px 0;
}
.midtu .midtu1,.midtu .midtu2{
	width:50%;height:393px;
	box-sizing: border-box;
	float:left;
	background:url(../images/beijin.png)
}
/* 花语的概括介绍的左边图片 */
.midtu .midtu1 img{
	width:100%;height:393px;
	box-sizing: border-box;
}
/* 花语的概括介绍右边的文本 */
.midtu .midtu2 p{
	width:60%; height:50%;
	box-sizing: border-box;
	margin:0 auto;
	background:url(../images/beijin.png);
	font:14px 微软雅黑  Raleway;
	color:#808080;
	line-height: 2rem;
}
/* 花语的概括介绍右边的图片  */
.midtu .midtu2 p img{
	margin:10% 37%;
}
/* 滚动条到达指定位置执行的动画  */
.midtu .midtu2 #fixed{animation:fadeInRight 4s;}
/*家园装点*/
.jiayuan{
	width:100%;height:580px;
	box-sizing: border-box;
	margin:50px 0;
	display: flex;
	justify-content:center;
	flex-wrap:wrap;
}
/* 家园装点每个商品 */
.jiayuan .jiayuanbox{
	box-sizing: border-box;
	width:20%;height:580px;
	transition: 0.4s;
	padding: 2px 5px;
	overflow: hidden;
}
/* 家园装点每个商品 图片*/
.jiayuan .jiayuanbox span{
	box-sizing: border-box;
	width:100%;
	height:280px;
}
.jiayuan .jiayuanbox span a img{
	box-sizing: border-box;
	width:100%;
	height:280px;
	transition: 1s;
}
/* 家园装点每个商品文本 */
.jiayuan .jiayuanbox ul{
	list-style:none;
	width:100%;height:280px ;
	padding:111px 0;
	box-sizing:border-box;
}
.jiayuan .jiayuanbox ul li{
	margin:10px  auto;
	text-align: center;
	box-sizing: border-box;
	color: #bababa;
}
/* 滚动条到达指定位置执行的动画  */
.jiayuan #fixed:first-child{animation:bounceInRight 2s;}
.jiayuan #fixed:nth-child(2){animation:bounceInRight 3s;}
.jiayuan #fixed:nth-child(3){animation:bounceInLeft 4s;}
.jiayuan #fixed:last-child{animation:bounceInLeft 5s;}
/*家园装点焦点样式*/
.jiayuan .jiayuanbox:hover{
	transform:translate(10px,2px) scale(0.8);
	border: 2px solid #808080;
	box-shadow:-3px 3px 30px #bababa;
}
.jiayuan .jiayuanbox:hover span a img{
	transform: scale(1.3);
}
.jiayuan .jiayuanbox:hover ul li{
	color:#000;
}
/*花语门店的活动及概要样式*/
.hua_bot_list{
	width:80%;height:462px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin:0 auto;
}
/*左侧样式*/
.hua_bot_list .hua_bot_list_left{
	width:58%;height:462px;
	box-sizing: border-box;
}
/*上部分样式*/
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top{
	width:100%;height:211px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid #bababa;
	align-items:center;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top img{
	width:40%;height:200px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div{
	width:60%;height:200px;
	box-sizing: border-box;
	color:#bababa;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div h6{
	font:16px 微软雅黑;
	color:#000000;
	margin:8px 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div span{
	margin:0 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_top div p{
	margin:10px 21px;
	font:13px 微软雅黑;
	color:#777777;
}


/*下部分样式*/
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot{
	width:100%;height:211px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid #bababa;
	align-items:center;
	margin:12px 0;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot img{
	width:40%;height:200px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div{
	width:60%;height:200px;
	box-sizing: border-box;
	color:#bababa;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div h6{
	font:16px 微软雅黑;
	color:#000000;
	margin:8px 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div span{
	margin:0 21px;
}
.hua_bot_list .hua_bot_list_left .hua_bot_list_left_bot div p{
	margin:10px 21px;
	font:13px 微软雅黑;
	color:#777777;
}
/*右侧样式*/
.hua_bot_list .hua_bot_list_right{
	width:38%;height:462px;
	box-sizing: border-box;
}
.hua_bot_list .hua_bot_list_right img{
	width:100%;height:434px;
	margin-left:15px;
}
/* 滚动条到达指定位置执行的动画  */
.hua_bot_list #fixed:first-child{animation:bounceInRight 4s;}
.hua_bot_list #fixed:last-child{animation:bounceInLeft 4s;}
/*运输 、礼品、 服务、 优惠券相关样式*/
.index_yun_li_fu_you{
	width:100%;height:140px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box{
	width:15%;height:80px;
	box-sizing: border-box;
	display: flex;
	margin:0 33px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div{
   display: inline-block;
	width:60%;height:80px;
	padding:15px 0;
	box-sizing: border-box;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box img{
	display: inline-block;
	width:40%;height:80px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div h4{
	font:13px 微软雅黑;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div p{
	font:12px 微软雅黑;
	color:#bababa;
}
/* 滚动条到达指定位置执行的动画  */
.index_yun_li_fu_you #fixed:first-child{animation:bounceInLeft 2s;}
.index_yun_li_fu_you #fixed:nth-child(2){animation:bounceInLeft 3s;}
.index_yun_li_fu_you #fixed:nth-child(3){animation:bounceInLeft 4s;}
.index_yun_li_fu_you #fixed:last-child{animation:bounceInLeft 5s;}
