*{margin:0;padding:0}
/* 登录样式 */
#box{
    width: 1260px;margin: -4px auto;
    box-sizing:border-box;
}
#header_login{
    width:100%; height:600px;
    background:url("../images/BJ.jpg") !important;
    display:flex;
    align-items: center;
}
#header_login::before{
    content:"";
    display:table;
}
div.login{
    width:358px;height:295px;
    margin:12% auto;
    border:1px solid rgba(232,232,232,1);
    border-radius:7px;
    background:#fff;
    opacity:0.8;
    padding:20px;
    position: relative;
}
#mg,#mg1{
   width:273px;height:43px;
   display: inline-block;
   border:1px solid #ddd;
   border-radius:3px;
   background:rgba(236,237,237,0.5);
   box-shadow:inset 0 -1px 4px #eee;
   color:#333;
   outline:none;
   box-sizing:border-box;
   padding:0 45px;
     margin:8px 12%;
 }
 #mg{
    background:url("../images/yonhu.png");
background-repeat:no-repeat;
    background-position:6px 4px;

 }
 #mg1{
    background:url("../images/mima.png");
    background-repeat:no-repeat;
    background-position:5px 4px;
 }
  #mig,#mig1{
     color:red;
     font-size:10px;
     position: absolute;
 }
 #mig{
     left:336px;
     top:40px;
 }
 #mig1{
    left:336px;
    top:100px;
 }

  button{
     width:273px;height:43px;
     border:1px solid #ff6700;
     border-radius:3px;
font-family:Roboto;
     float:left;
     margin:0 5px;
     background:#ff6700;
     color:#fff;
     box-sizing:border-box;
     margin-top:15px;
     margin-left:12%;
  }
  .jinru{
        width:273px;height:32px;
      box-sizing:border-box;
        float:left;
        margin-left:12%;
    }
.jinru a{	
  color:#333;
        text-decoration:none;
        text-align:right;
        font:13px Roboto;
        
    }
     .jinru label{
   font:13px Roboto;
     color:#333;
     }
.jinru label+span{
        margin-left:28%;
     }
     .dsf{
        clear:both;
        font:13px Roboto;
        color:#333;
        margin:0 auto;
        text-align: center;
     }
    .dsf1{
        width:273px;height:43px;
        display:flex;
        justify-content:space-around;
        padding:20px 40px;
    } 
    .dsf1 a{
      width:43px;height:43px;
        background:url("../images/dsf.png");
        display:inline-block;
        
    }
    a:first-child{background-position:-15px 3px;}
    a:nth-child(2){background-position:-208px 3px;}
a:nth-child(3){background-position:-80px 3px;}
a:last-child{background-position:-144px 3px;}
/* 底部样式 */
.index_yun_li_fu_you{
	width:100%;height:140px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box{
	width:15%;height:80px;
	box-sizing: border-box;
	display: flex;
	margin:0 33px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div{
   display: inline-block;
	width:60%;height:80px;
	padding:15px 0;
	box-sizing: border-box;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box img{
	display: inline-block;
	width:40%;height:80px;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div h4{
	font:13px 微软雅黑;
}
.index_yun_li_fu_you .index_yun_li_fu_you_box div p{
	font:12px 微软雅黑;
	color:#bababa;
}
